Python Basics

In [ ]:
# It was created by Guido van Rossum, and released in 1991
print("Hello, World!")

Hello, World!

# Indentation

In [ ]:
if 5 > 2:
 print("Five is greater than two!")

Five is greater than two!

Variable creation / Type

In [ ]:
_x = 5
_X = "Hello" # case-sensitive
print(_x)
print(_X)
print(type(_x),type(_X))

5
Hello
<class 'int'> <class 'str'>

# Type Casting

In [ ]:
x = str(10)    # x will be '10'
y = int(10)    # y will be 10
z = float(10)  # z will be 10.0
print(x, end=" ")
print(y, z, sep=",")

10 10,10.0

# Variable: Global vs Local

In [ ]:
x = "awesome"
def myfunc():
  x = "fantastic"
  print("Python is " + x)
myfunc()
print("Python is " + x)

Python is fantastic
Python is awesome

# Variable assignments

In [ ]:
Fruits = ["Apple", "Banana", "Cherry"]
x, y, z = Fruits
#x, y, z = "Orange", "Banana", "Cherry"
#x=y=z = "Orange"
print(f"x={x}, y={y}, z={z}")

x=Apple, y=Banana, z=Cherry

# Python Numbers

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
a = float(x) #convert from int to float:
b = int(y) #convert from float to int:
c = complex(x) #convert from int to complex:
print(f"a={a}, b={b}, c={c}")
import random
print(random.randrange(1, 100))

a=1.0, b=2, c=(1+0j)
8

#Strings

In [ ]:
a = "Hello, World!"
print(a)
print(a[1])
print(len(a))

# characters by using the slice syntax
print(a[2:5])
print(a[2:])
print(a[:5])
print(a[-5:-2])
print(a.upper()) # uppercase
print(a.strip()) # removes any space at beginning,
print(a.replace("H", "J"))
print(a.split(",")) # returns ['Hello', ' World!’]

Hello, World!
e
13
llo
llo, World!
Hello
orl
HELLO, WORLD!
Hello, World!
Jello, World!
['Hello', ' World!']

Convert into titlecase

In [ ]:
string1 = "Welcome to Techvein!"

x = string1.title()

print(x)

Welcome To Techvein!

In [ ]:
# Operators
for x in range(10,1,-1):
  print(x)

for x in "banana":
  print(x, end="")

10
9
8
7
6
5
4
3
2
banana

#Collection Data Types

In [ ]:
list_1 = ["apple", "banana", "apple", 34, True, 40, False, 34]
tuple_1 = ("apple", "banana", "apple", 34, True, 40, False, 34)
set_1 = {"apple", "banana", "apple", 34, True, 40, False, 34}

# order and repeated values
print(list_1)
print(tuple_1)
print(set_1)   #No order & no duplicates

['apple', 'banana', 'apple', 34, True, 40, False, 34]
('apple', 'banana', 'apple', 34, True, 40, False, 34)
{False, True, 34, 'apple', 40, 'banana'}

In [ ]:
# Access by index
print(list_1[0])
print(tuple_1[0])
#print(set_1[0]) #TypeError: 'set' object is not subscriptable

apple
apple

# Mutability

In [ ]:
list_1 = ["apple", "banana", "apple", 34, True, 40, False, 34]
tuple_1 = ("apple", "banana", "apple", 34, True, 40, False, 34)
set_1 = {"apple", "banana", "apple", 34, True, 40, False, 34}

# Mutability
set_1.add("blackcurrant")
set_1.remove("banana")
print(set_1)

list_1.append("orange")
list_1.remove("apple")
list_1[1] = "blackcurrant"
print(list_1)

#tuple_1[1] = "blackcurrant" #TypeError: 'tuple' object does not support item assignment
#set_1[1] = "blackcurrant" #TypeError: 'set' object does not support item assignment
#print(tuple_1.count(34))
#print(tuple_1.index(34))

#list_1.reverse()
#print("Reversed list =", list_1)

{False, True, 34, 'apple', 'blackcurrant', 40}
['banana', 'blackcurrant', 34, True, 40, False, 34, 'orange']

# Examples of List Methods in Python
1. append() - Adds an element at the end of the list
2. insert() - Inserts an element at a specified index
3. extend() - Adds elements from another list
4. remove() - Removes the first occurrence of a specified value
5. pop() - Removes and returns the last item (or by index)
6. index() - Returns the index of the first occurrence of a value
7. count() - Returns the number of times a value appears
8. sort() - Sorts the list in ascending order
9. reverse() - Reverses the elements of the list
10. clear() - Removes all elements from the list

In [ ]:

# Create a list and do all the list method
my_list = [10, 20, 30, 40, 50]

# 1. append() - Adds an element at the end of the list
my_list.append(60)
print("After append:", my_list)  # [10, 20, 30, 40, 50, 60]

# 2. insert() - Inserts an element at a specified index
my_list.insert(2, 25)
print("After insert:", my_list)  # [10, 20, 25, 30, 40, 50, 60]

# 3. extend() - Adds elements from another list
my_list.extend([70, 80])
print("After extend:", my_list)  # [10, 20, 25, 30, 40, 50, 60, 70, 80]

# 4. remove() - Removes the first occurrence of a specified value
my_list.remove(30)
print("After remove:", my_list)  # [10, 20, 25, 40, 50, 60, 70, 80]

# 5. pop() - Removes and returns the last item (or by index)
last_item = my_list.pop()
print("Popped item:", last_item)
print("After pop:", my_list)

# 6. index() - Returns the index of the first occurrence of a value
index_40 = my_list.index(40)
print("Index of 40:", index_40)

# 7. count() - Returns the number of times a value appears
my_list.append(20)
count_20 = my_list.count(20)
print("Count of 20:", count_20)

# 8. sort() - Sorts the list in ascending order
my_list.sort()
print("After sort:", my_list)

# 9. reverse() - Reverses the elements of the list
my_list.reverse()
print("After reverse:", my_list)

# 10. clear() - Removes all elements from the list
my_list.clear()
print("After clear:", my_list)  # []

#Dictionary

In [ ]:
dict = {"brand": "St. Xavier's","model": "Panihati","estd_year": 1967,"affiliation": "CISCE"}
print(dict.get("brand"))
dict["age"] = 19 #Modify
dict["job"] = "Data Engineer" #Add
print(dict)

St. Xavier's
{'brand': "St. Xavier's", 'model': 'Panihati', 'estd_year': 1967, 'affiliation': 'CISCE', 'age': 19, 'job': 'Data Engineer'}

# Control Flow Statements

In [ ]:
# Break example
for num in range(1, 10):
    if num == 5:
        break  # Exit the loop when num equals 5
    print(num)

1
2
3
4

In [ ]:
# Continue example
for num in range(1, 10):
    if num == 5:
        continue  # Skip the iteration when num equals 5
    print(num)

1
2
3
4
6
7
8
9

In [ ]:
# Pass example
for num in range(1, 5):
    if num == 3:
        pass  # Do nothing when num equals 3
    else:
        print(num)

1
2
4

# Functions

In [ ]:
def greet(name):
    print(f"Hello, {name}!")

greet('Class 9')

Hello, Class 9!

In [ ]:
def add(a,b):
    # print(a+b)
    return a+b
add(10,5)

15

In [ ]:
def greet(name, msg):
    print(f"{msg}, {name}")

greet(name="Class 9",msg="Welcome")  # Keyword arguments
greet( "Class 9", "Welcome") # positional arguments
#greet()

Welcome, Class 9
Welcome, Class 9

TypeError: greet() missing 2 required positional arguments: 'name' and 'msg'

In [ ]:
def greet(name="Guest"):
    print(f"Hello, {name}!")
greet("Alice")  # Positional
greet()         # Default

Hello, Alice!
Hello, Guest!

In [ ]:
# Arbitrary Arguments: *args; number of arguments is unknown, List
def my_f(*kids):
  print("The youngest child is " + kids[2])

my_f("Amar", "Akbar", "Anthony")

The youngest child is Anthony

In [ ]:
# Arbitrary Keyword Arguments: *kargs; number of arguments is unknown, dictionary
def my_f(**kid):
  print("Your last name is " + kid["k2"])

my_f(k1 = "Saptarshi", k2 = "Jana")

Your last name is Jana

# Write a program using a function to calculate the simple interest using the formula “Simple Interest = PRT/100”.

In [ ]:
def calculate_simple_interest(principal, int_rate, time):
  return (principal * int_rate * time) / 100

# Call the function
print(calculate_simple_interest(1000, 5, 2))

100.0